*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    overflow: visible;
}
.container{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to right, #9759ce 0%, #EE6690 100%);
}
.logo{
    width: 99px;
    color: #fff;
    margin-left: 75px;
    
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px 12;
    transition: background 1s;
}

nav ul{
    flex: 1;
    text-align: right;
    padding-right: 108px;
}
nav li{
    display:inline-block;
    list-style: none;
    margin: 10px 22px;
    
}
nav ul li a{
    color: #fff;
    text-decoration:none;
    font-weight: 1000;
    transition: color 0.3s; 
}

nav ul li a:hover {
    color: #35155D; 
}

nav:hover{
    background: #d483bf;
}
.edu {
    font-size: 44px;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    color: #f1f1f1;
}


.btn{
    display: inline-block;
    background: #9759ce;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 30px;
    max-width: 116px;
    
}
.personal-info-box {
    background-color:#fff; 
    padding: 200px; 
    margin: 50px ;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
.school {
    flex-basis: calc(33.33% - 20px); 
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.school .school-image {
    text-align: center;
    padding: 10px;
    flex: 1;
    width: 399px;
    height: 370px;
    margin-left: 30px; 
}

.school-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.school-info {
    text-align: center;
    padding: 10px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e897d8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #f1f1f1;
}